# ignore everything
*
**/.DS_Store

# whitelist configs
!.gitignore
!settings.json

# whitelist specific folders and their contents
# specify the root folders first so Git can traverse into them
!instructions/
!instructions/**
!prompts/
!prompts/**
!skills/
!skills/**

# exclude .DS_Store from whitelisted directories
instructions/**/.DS_Store
prompts/**/.DS_Store
skills/**/.DS_Store